<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolioa.la</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="#niNAIZGUS">Ni</a>
					</li>
					<li>
						<a href="#perfila">Perfila</a>
					</li>
					<li>
						<a href="#lana">Lana</a>
					</li>
					<li>
						<a href="#kontaktue">Kontaktue</a>
					</li>
				</ul>

			</nav>
			<figure>
				<img src="http://1.bp.blogspot.com/_42Ez0bRTcnA/TQI_cWVfMiI/AAAAAAAAE7E/kSve5ydY8zA/s1600/fuckthesystem_hacker_inside.jpg" alt="Logotypoak">
				<figcaption>
					<a href="http://blog.desdelinux.net/" target="_blank">Gure Horrialdea</a>
				</figcaption>	
				<p>HxK</p>
			</figure>
		</header>
		<section>
			<h2>Perfilak</h2>
			<p>Programazioa ikastera etorri gara eta ikasiko dugu</p>
			<a href="https://twitter.com/dalton_inc" target="_blank">@Twitti</a>
			<a href="https://twitter.com/dalton_inc" target="_blank">Feisbuk</a>
			<a href="https://twitter.com/dalton_inc" target="_blank">Github</a>

		</section>
		<section>
			<h2>Lanak</h2>
			<article>
				<figure>
					<img src="mejorandola.jpg">
					<figcaption>Argazki mundialak</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg">
					<figcaption>Argazki mundialak</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg">
					<figcaption>Argazki mundialak</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg">
					<figcaption>Argazki mundialak</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejorandola.jpg">
					<figcaption>Argazki mundialak</figcaption>
				</figure>
			</article>

		</section>
		<footer>
			<h3>Kontakto</h3>
			<p>Barkatu itzazu eragozpenak</p>
			<input type="text" placeholder="Izena"/>
			<input type="email" placeholder="Email"/>
			<textarea placeholder="Ze ba?"></textarea>
			<button type="submit">Kontaktatu nirekin</button>

		</footer>
	</body>
</html>










